:root {
    --primary-color: #637E76;
    --secondary-color: #C69774;
    --accent-color: white;
    --accent-color-1: black;
    --font-size: 25px;
    --header: 'Manrope', sans-serif;
    --p: 'Heebo', sans-serif;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 10rem;
    padding: 0;
    margin: 0 20px;
}

header .logo img {
    width: 150%;
    height: auto;
}

.call {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
    list-style-type: none;
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 0;
}

.call li {
    list-style-type: none;
    margin-left: 10px;
}
.call li img {
    margin-top: -6px;
    width: 50px;
}

.call a.renttoday {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--header);
    color: var(--accent-color);
    font-size: var(--font-size);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.call a:hover {
    color: var(--accent-color-1);
}

.two {
    display: none;
}

.switch {
    position: absolute;
    top: 9em;
    left: 1.56em;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accent-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.line {
    border-top: 5px solid var(--primary-color);
    width: 100%;
}

#menu {
    display: none;
}

.navigate {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigate li {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.navigate li a {
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    color: var(--accent-color-1);
    font-family: var(--header);
}

.navigate li a:hover {
    color: var(--accent-color);
}

img.hero {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

img {
    max-width: 100%;

}

.homemain {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: background-color 0.5s;
}

.homemain h2,
.homemain p {
    text-align: center;
}

.homemain h2 {
    font-family: var(--header);
    font-size: 27px;
}

.homemain p {
    font-family: var(--p);
    padding: 0 50px 10px;
    font-size: var(--font-size);
}

.homemain .welcome {
    grid-column: 1/6;
    margin: 20px;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.homemain .weather {
    grid-column: 2/5;
    grid-row: 2/3;
    margin: 20px;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.homemain .lining {
    grid-column: 1/6;
}

.homemain .options {
    grid-column: 1/6;
    color: var(--accent-color-1);
    background-color: var(--secondary-color);
}

.homemain .rent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}

.homemain .rent a {
    text-decoration: none;
    padding: 15px;
    border-radius: 1em;
    font-family: var(--header);
    font-size: var(--font-size);
    color: var(--accent-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.homemain .rent a:hover {
    color: var(--accent-color-1);
}

.mediumline {
    display: none;
}

footer {
    height: 12em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
}


footer p:not(:last-child) {
    border-right: 3px solid var(--accent-color);
}

.info,
.contact,
.modded {
    padding: 0 20px 0 20px;
    font-size: var(--font-size);
    font-family: var(--p);
}

.info {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modded {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.appremain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.appremain section {
    margin-top: 10em;
    margin-bottom: 15em;
    text-align: center;
    grid-column: 2/5;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.appremain section h1 {
    font-size: var(--font-size);
    font-family: var(--header);
}

.appremain section p {
    font-size: 20px;
    font-family: var(--p);
}