@media screen and (min-width: 300px) and (max-width: 729px) {

    :root {
        --mobile-font: 18px;
    }

    #menu {
        display: block;
        font-size: 1.5rem;
        border: none;
        padding: .25rem .75rem;
        position: absolute;
        right: 1rem;
        left: 90%;
        transform: translateX(-50%);
        top: 1rem;
        background-color: white;
    }

    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        font-size: 1rem;
        content: "❌";
    }

    .navigate {
        flex-direction: column;
        list-style: none;
    }

    .navigate li {
        display: none;
        padding-bottom: 5px;
    }

    .navigate li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0;
    }

    .navline {
        margin-top: -5px;
    }

    .open li a, .open li {
        display: block;
    }

    label.switch {
        position: absolute;
        top: 20px;
        left: 15px;
    }

    ul.call {
        justify-content: center;
        margin-top: 0;
        margin-right: 20px;
        padding: 0 20px 20px 0;
    }

    .call li img {
        display: none;
        margin-top: -6px;
        width: 50px;
    }

    .mediumline {
        display: block;
    }

    .homemain .weather {
        grid-column: 1/6;
    }

    p#currentWeather {
        padding: 0 20px 10px;
    }

    img.hero {
        width: 100%;
        height: auto;
    }

    footer {
        grid-template-columns: 1fr;
        justify-content: center;
    }
      
    footer p:not(:last-child) {
        border-right: none;
    }

    .info,
    .contact,
    .modded {
        font-size: var(--mobile-font);
        grid-column: unset;
        margin-bottom: 10px;
        margin: 0;
        padding: 0 20px 0 20px;
    }

    .navigate li:last-child {
        margin-bottom: 10px;
    }

    section.forms {
        grid-column: 1/9;
    }

    .rules ul li, p, label.pi, label, .consumerinfo label, .homemain p {
        font-size: var(--mobile-font);
    }

    .rules p, a.contactlink, .homemain .rent a {
        font-size: 20px;
    }

    .rules h2, .forms h2, h2, .consumerinfo legend, .maps h2, .homemain h2, .call a.renttoday, .open li a, .open li  {
        font-size: 22px;
    }

    fieldset.personalinfo {
        padding: 30px;
    }

}