main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: background-color 0.5s;
}

main.rental {
    justify-content: center;
    align-items: center;
}

main.rental div.welcome {
    grid-column: 2/5;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--p);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
    transition: background-color 0.5s;
}

main.rental div.welcome h2 {
    font-family: var(--header);
}

#maindiv {
    grid-column: 2/5;
    display: none;
    transition: background-color 0.5s;
}

.rental section {
    text-align: center;
}

.rental section img {
    width: 100%;
    padding: 20px 0 0 0;
}

.rental section div {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 0 20px 0;
    font-family: var(--p);
    font-size: var(--font-size);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.rental h1 {
    text-align: center;
    margin-top: 20px;
    font-family: var(--header);
}

.rental section.rentaltabledata {
    padding: 20px 20px 0 20px;
    grid-column: 1/6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--secondary-color);
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: var(--font-size);
    font-family: var(--p);
}

th {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
}

@media screen and (min-width: 300px) and (max-width: 835px) {

    .rental section div {
        font-size: var(--mobile-font);
    }

    main {
        grid: unset;
    }

    .rental section.rentaltabledata {
        display: none;
    }

    #maindiv {
        display: block;
    }

    img {
        max-width: 800px;
    }
}