@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  text-align: center;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}

header,
main,
footer {
  margin: 1.5rem;
  position: relative;
  background-color: skyblue;
}

h1 {
  color: white;
  text-shadow: 0 0 15px #777;
  width: 60%;
  text-align: right;
}

h2 {
  color: navy;
  margin: 0 0 1rem 0;
	 border-bottom: 1px solid #bbb;
}

footer {
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px #777;
}

main {
  background-color: white;
}

header, footer {
  padding: 20px;
  margin: 0;
  width: 100%;
}