html {
    width: 100%;
}

body.light {
    width: 100%;
    margin: auto;
    position: relative;
    margin: 0;
    background-color: #FFBCC1;
    margin-top: 10em;
}

body.dark {
    width: 100%;
    margin: auto;
    position: relative;
    margin: 0;
    background-color: #FFBCC1;
    margin-top: 10em;
}

body.dark {
    background-color: black;
}

header {
    background-color: #FDF0D5;
    color: #780000;
    padding: 1.2em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em 2em;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    z-index: 2;
}

header span {
    font-size: .5em;
}

header h1 {
    font-size: 3rem;
}
h2.light {
    background-color: white;
}
h2.dark {
    background-color: white;
    color: black;
}
nav {
    background-color: #780000;
    text-align: center;
    position: fixed;
    top: 150px;
    width: 100%;
    z-index: 3;
}

.navigate {
    justify-content: center;
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.navigate li a {
    display: block;
    text-decoration: none;
    padding-right: 40px;
    flex: 1 1 100%;
    text-decoration: none;
    background-color: #780000;
    color: #FDF0D5;
    transition: color 0.3s ease;
}

#menu {
    justify-content: center;
    display: none;
}

main {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    row-gap: 20px;
    column-gap: 20px;
    
}

.logo {
    float: right;
    padding-right: 50px;
    height: 150px;
}

.hero img {
    width: 100%;
    height: auto;
}

main section { 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(253, 240, 213, 1);
    
}

.sectionLight {
    background-color: white;
    color: #780000;
}

.sectionDark {
    background-color: black;
    color: white;
}

main section ul li {
    height: 500px;
    border-radius: 10px;
}

.spotlight ul li {
    height: auto;
}

.events {
    text-align: center;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.events ul li h3 {
    padding-left: .5em;
    padding-right: .5em;
}
.events ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 0 20px;
}

.events ul li p, .spotlight ul li p {
    padding: 1em;
    font-size: 20px;
}

.events ul li, .weather ul li {
    height: auto;
    margin: 0 auto;
}

.weather ul li {
    padding: 2em;
}

.events h3, .spotlight h3 {
    padding-top: 2em;
    font-size: 24px;
}

.weather {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
}

.weather ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
}

.spotlight {
    justify-content: center;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/4;
    height: auto;
}

.spotlight ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 0 20px;
}

.numbers {
    padding: 2em;
}

footer {
    text-align: center;
    margin-top: auto;
    background-color: #780000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#mode {
	position: absolute;
	top: .25em;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
}

.light {
    background-color: lightgrey;
    color: #780000;
}

.dark {
    background-color: darkgrey;
    color: black;
}

.website {
    padding: 2em;
}

.sidebar, .images {
    grid-column: 1/2;
    width: 100%;
    background-color: white;
}

.sidebar ul, .images ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.images {
    grid-column: 2/4;
    width: 100%;
    margin-bottom: 0;
}

.images img {
    max-width: 100%;
    height: auto;
    transition: filter 0.3s;
    padding: 15px;
}

.sidebar {
    margin-bottom: auto;
}

.images img:hover {
    filter: brightness(.7);
}

.images caption {
    caption-side: bottom;
    text-align: center;
}

.join-main.light {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;    
    margin-top: 14rem;
}

.join-main.dark {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 14rem;
}

.join-us-main.light {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;    
    margin-top: 25rem;
}

.join-us-main p {
    grid-column: 1/3;
}

.join-us-main.dark {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 25rem;
}

.join.light {
    grid-column: 1/3;
    justify-content: center;
    text-align: center;
    background-color: #f7f7f7;
}

.join.dark {
    grid-column: 1/3;
    justify-content: center;
    text-align: center;
    background-color: darkgrey;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #780000;
    margin: 0 1rem;
    padding: 0 .5rem;
    text-align: center;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #780000;
}

form label.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label.sbs {
    display: flex;
    padding: .75rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input.submitBtn {
    border: none;
    background-color: #780000;
    color: #FDF0D5;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
}

form legend.sbs {
    text-align: left;
    color: black;
}

.join.top.dark {
    color: black;
}

.foot {
    position: fixed;
    bottom: 0;
}

.benefit {
    padding-right: 40px;
    list-style: none;
}

.benefit li {
    padding-bottom: 10px;
}

.select {
    text-align: center;
}

.member-card.light {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member-card img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 8px;
}

.member-card p {
margin-bottom: 10px;
}

.member-card a {
    display: inline-block;
    background-color: #780000;
    color: #FDF0D5;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.member-card a:hover {
    background-color: #780000;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
    margin-top: 220px;
}
main.discover-main {
    margin-top: 220px;
}
.member-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.list div > * {
    display: flex;
    flex-direction: row;
    padding: 10px;
    row-gap: 20px;
}

.list section img {
	display: none; 
}

.list.member-card:nth-child(even) {
    background-color: #FDF0D5;
}

.list.member-card:nth-child(odd) {
    background-color: #EFEFEF;
}

.grid.member_data {
    display:flex;
    flex-direction: column;
    text-align: center; 
    padding: 5px 0;
}

.list .member-card {
    display:flex;
    flex-direction: row; 
    align-items: center;
    margin: 10px 0;
}

.member_name {
    font-weight: bold;
}

.member_data {
    padding: 0 10px;
}

span.member_data {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#banner div {
    text-align: center;
    display: block;
    background-color: #780000;
    color: #FDF0D5;
    padding: 10px;
    margin-top: -5px;
}

#banner div span {
    float: right;
}

#forecast div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list .member-card {
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #780000;
}

.list .member-card img {
    grid-column: 1;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.list .member-card p {
    grid-column: 1;
    margin-bottom: 10px;
}

.list .member-card a {
    grid-column: 1; 
    display: inline-block;
    background-color: #780000;
    color: #FDF0D5;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.list .member-card a:hover {
    background-color: #780000;
}

.list .member-card:nth-child(even) {
    background-color: #FDF0D5;
}

.list .member-card:nth-child(odd) {
    background-color: #EFEFEF;
}

.cta-button {
    position: absolute;
    top: 5em;
    left: 7em;
    transform: translate(-50%, -50%);
    background-color: #780000;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.cta-button a {
    color: #FDF0D5;
    text-decoration: none;
}

.benefit {
    margin: 2rem 0px;
}

.benefit li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 2rem 0px;
}

.benefit li.beneheader {
    border: none;
    font-weight: 700;
    font-size: 24px;
}

.navigate li {
    font-size: 20px;
}

img.\.member-gold {
    max-width: 200px;
    height: auto;
}

img.\.member-silver {
    max-width: 200px;
    height: auto;
}

img.\.member-bronze {
    max-width: 200px;
    height: auto;
}